<form action = '/ship' method = 'post'>
  <p>Input your coordinate (C1, B5...)</p>
  <input type = 'text' name = 'coordinate'>
  <br>

    <input type="radio" name="orientation" value="horizontally" checked>Horizontal<br>
    <input type="radio" name="orientation" value="vertically">Vertical<br>

  <input type = submit>
  </form>
<hr>
<form action = '/fire' method = 'post'>
  <p>Input your coordinate (C1, B5...)
  <input type = 'text' name = 'coordinate'>
  <input type = submit>
  </form>
<hr>

  <pre> <%= @board %> </pre>
